/* Ínicio - Estilização da Header */
@import url(https://fonts.google.com/specimen/Barlow?category=Serif,Sans+Serif,Display,Monospace);

body{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}


.Logo{
width: 90%;
margin: 10% auto;
}
header{
    color: aliceblue;
    background: #3d4073;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 200px;
    position: fixed;

}
#barra-de-navegacao{
    margin: 50% auto;
    text-decoration: none; 
    color: aliceblue;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#barra-de-navegacao a{
    
    text-decoration: none; 
    color: aliceblue;
    display: inline-flex;
    padding: 10px;
    font: 18px bolder;
}




