
main {
  padding: 2% auto;

  }
  
  table {
    background-color: #3d407300;
    border-radius: 25px;
    margin:  0 auto;
    border-collapse: collapse;
    width: 950px;
  }

  th,
  td {
   
    padding: 8px;
  }
  tr:hover{
    transform: scale(1.01);
    background-color: #3d407323;
  }
  th {
    
    background-color: #c5ffee;
  }
  
  tr:nth-child(even) {
    background-color: #e9fff8;
  }
  tr:nth-child(even):hover{
    background-color: #3d407323;
  }
  select {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    appearance: none;
    background-color: transparent;

  }
  select option {
    
    background-color: #c5ffee;
    color: #000000;
  }
  select option:checked {
    background-color: #e9fff8;
    color: rgb(0, 0, 0)000;
  }
  select option:hover {
      background-color: transparent;
    color: #000000;
  }
.selecao {
  border-radius: 45px;
margin: 15px;
transition:  0.3s ease; 

}
#barraPesquisa{
width: 200px;
height: 30px;
font-size: 16px;
  border-radius: 65px;
  margin: 15px;
  transition:  0.3s ease; 
}
#barraPesquisa::placeholder{
  text-align: center;
}
#barraPesquisa:hover {
  transform: scale(1.05);
  background-color: #e9fff8; /* Cor de fundo no hover */
}
.selecao:hover{
  transform: scale(1.05);
}