
main {
  padding: 2% auto;

  }
  
  table {
    background-color: #3d407300;
    border-radius: 25px;
    margin:  0 auto;
    border-collapse: collapse;
    width: 950px;
  }

  th,
  td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #c5ffee;
  }
  
  tr:nth-child(even) {
    background-color: #e9fff8;
  }
  
  select {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;

  }
  select option {
    
    background-color: #c5ffee;
    color: #000000;
  }
  select option:checked {
    background-color: #e9fff8;
    color: rgb(0, 0, 0)000;
  }
  select option:hover {
    
      background-color: transparent;
    color: #000000;
  }
.selecao, .pesquisa{
  border-radius: 45px;
margin: 15px;
}