 
    
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 40%;
        padding: 5px;
        margin-bottom: 10px;
      }
      
      input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }
      
    