
aside {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  main {
 
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .texto_sobre{
    margin: auto;
    width: 70%;
  }
 
  
  .carrocel {
    border-radius: 25px;
    margin: 20px auto;
    display: flex;
    overflow: hidden;
    width: 50%; /* Define a largura do carrossel */
  }
  
  .carrocel img {
    width: 100%; /* Redimensiona as imagens para ocuparem a largura do carrossel */
    height: auto; /* Mantém a proporção original das imagens */
    transition: transform 1s; /* Adiciona uma transição suave */
  }
  
  /* Adiciona animação para mover as imagens */
  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Define a velocidade da animação */
  .carrocel img {
    animation: carousel-animation 12s linear infinite;
  }
  