
aside {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  main {
 
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .texto_sobre{
    margin: auto;
    width: 70%;
  }
  .carrocel {
    display: flex;
    overflow-x: hidden;
    animation: slide 5s infinite;
  }
  
  .carrocel img {
    width: 50%; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaçamento entre as imagens */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(-100%);
    }
    75% {
      transform: translateX(-200%);
    }
    95% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  